html {
  height: 100%;
}
html body {
  background-color: #ddd;
  height: 100%;
}
html select option:disabled {
  color: #ccc;
}
html i {
  margin-right: 2px;
}
html .context-sm {
  font-size: 0.8em;
}
* + html .context-sm {
  margin-left: 4px;
}

.container-head {
  text-align: center;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.container-head::before {
  content: "";
  background-image: url("../img/worldmap.png");
  background-size: cover;
  background-position: 50%;
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  filter: blur(3px);
  z-index: -1;
}
.container-head a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 36px;
  font-weight: bold;
}

.top-contents ul {
  margin: 0;
}
.top-contents h2.top-icon {
  display: flex;
  line-height: 1em;
}
.top-contents h2.top-icon img {
  width: auto;
  height: 1em;
  margin-right: 0.4em;
  display: inline-block;
}

.loading {
  background-color: rgba(255, 255, 255, 0.7490196078);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-floating span.select2.select2-container span.selection .select2-selection {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  min-height: calc(3.5rem + var(--bs-border-width) * 2);
  border-radius: var(--bs-border-radius);
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.input-group > .form-floating > .select2 > .selection > .select2-selection {
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius) !important;
}