html {
  height: 100%;
  body {
    background-color: #ddd;
    height: 100%;
  }
  select {
    option:disabled {
      color: #ccc;
    }
  }
  i {
    margin-right: 2px;
  }
  .context-sm {
    font-size: 0.8em;
    * + & {
      margin-left: 4px;
    }
  }
  p:last-child {
    margin-bottom: 0; // 最後の<p>だけmargin消す
  }
}

// ヘッダー
.container-head {
  text-align: center;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  &::before {
    content: "";
    background-image: url("../img/worldmap.png");
    background-size: cover;
    background-position: 50%;
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    filter: blur(3px);
    z-index: -1;
  }
  a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 36px;
    font-weight: bold;
  }
}

// メインコンテナ
#main-container {
  max-width: 1000px;
}

// トップページ
.top-contents {
  ul {
    margin: 0;
  }
  h2.top-icon {
    display: flex;
    line-height: 1em;
    img {
      width: auto;
      height: 1em;
      margin-right: 0.4em;
      display: inline-block;
    }
  }
}

// ローディング
.loading {
  background-color: #ffffffcf;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #progress-wrap {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    #progress-worker {
      width: 100%;
    }
    #cancel-btn {
      width: fit-content;
    }
  }
}

// Select2 フローティングデザイン統一
.form-floating {
  .select2-container--bootstrap-5 {
    width: auto !important;
  }
  span.select2.select2-container span.selection .select2-selection {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    border-radius: var(--bs-border-radius);
    border: var(--bs-border-width) solid var(--bs-border-color);
  }
}
.input-group > .form-floating > .select2 > .selection > .select2-selection {
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius) !important;
}
// Select2 disabled項目
.select2-results__option--disabled {
  background-color: #ccc !important;
  display: none;
}

// YouYubeレスポンシブ対応
.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
  iframe {
    width: 100%;
    height: 100%;
    max-width: 600px;
  }
}
