{{ define "main" }}
  <div class="container-lg" id="pokemon-checker">
    <script>
      window.ITEM_SPRITE_URL = '{{ (resources.Get "img/sprites/sheet_itemsprite.png").RelPermalink }}';
    </script>

    <p class="text-center my-3">
      <span class="fs-1 d-inline-block">ポケモンチェッカー</span>
      <span class="fs-5 d-inline-block ms-1">for ポケダン空</span>
    </p>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="checker-tab"
          data-bs-toggle="tab"
          data-bs-target="#checker-tab-pane"
          type="button"
          role="tab"
          aria-controls="checker-tab-pane"
          aria-selected="true">
          チェッカー
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="detail-tab"
          data-bs-toggle="tab"
          data-bs-target="#detail-tab-pane"
          type="button"
          role="tab"
          aria-controls="detail-tab-pane"
          aria-selected="false">
          ポケモン
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="dungeon-tab"
          data-bs-toggle="tab"
          data-bs-target="#dungeon-tab-pane"
          type="button"
          role="tab"
          aria-controls="dungeon-tab-pane"
          aria-selected="false">
          ダンジョン
        </button>
      </li>
    </ul>
    <div class="tab-content pt-2">
      <!-- ポケモンチェッカー -->
      <div
        class="tab-pane fade show active"
        id="checker-tab-pane"
        role="tabpanel"
        aria-labelledby="checker-tab">
        <div id="pokemon-list" class="pokemon-grid-wrap"></div>
      </div>
      <!-- ポケモン詳細 -->
      <div
        class="tab-pane fade"
        id="detail-tab-pane"
        role="tabpanel"
        aria-labelledby="detail-tab">
        <p>
          基礎勧誘率のカッコ内はゲーム開始時の質問に「ある」と答えた場合の初回勧誘率（いわゆる勧誘率2）。
          <br />
          <span class="item-sprite sprite-18-3"></span>
          が付いたものは「なぞのパーツ」か「ひみつのせきばん」を持ち込む必要がある。
        </p>
        <div id="recruit-pokemon"></div>
      </div>
      <!-- ダンジョン -->
      <div
        class="tab-pane fade"
        id="dungeon-tab-pane"
        role="tabpanel"
        aria-labelledby="dungeon-tab">
        <p>
          チェック状況はダンジョン間で共有される。ボス等のイベント勧誘は含まれない。
          <br />
          ※このタブでは「姿違いを含めない」は機能しない。
        </p>
        <div id="recruit-dungeon"></div>
      </div>
    </div>

    <!-- Progress bar -->
    <div
      class="position-fixed bottom-0 start-0 w-100 bg-body"
      style="z-index:999;">
      <div class="container-lg py-2">
        <!-- %表示 -->
        <div class="d-flex align-items-center mb-1">
          <div class="flex-grow-1 text-center" style="font-weight:bold;">
            <span id="progress-percent">0%</span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <div class="progress" style="height: 24px; position: relative;">
              <div
                id="progress-bar"
                class="progress-bar bg-primary d-flex align-items-center justify-content-center"
                role="progressbar"
                style="width: 0%; position: relative; font-weight: bold;"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
          <div class="ms-3 d-flex align-items-center" style="min-width: 80px;">
            <span id="progress-count">0/0</span>
            <button
              class="arrow-only-btn ms-2"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseImportExport"
              aria-expanded="false"
              aria-controls="collapseImportExport"
              style="justify-content: center;">
              <svg
                id="accordionArrow"
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                fill="currentColor"
                class="bi bi-chevron-down"
                viewBox="0 0 16 16"
                style="transition: transform 0.3s;">
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </div>
        </div>
        <!-- アコーディオンメニュー -->
        <div class="collapse" id="collapseImportExport">
          <div class="my-2 d-flex align-items-center flex-wrap gap-2">
            <button id="import-btn" class="btn btn-outline-success">
              インポート
            </button>
            <button id="export-btn" class="btn btn-outline-primary">
              エクスポート
            </button>
            <button id="mark-all-btn" class="btn btn-outline-warning">
              すべてチェック
            </button>
            <button id="unmark-all-btn" class="btn btn-outline-secondary">
              すべて解除
            </button>
            <div class="form-check form-switch d-inline-block align-middle">
              <input
                class="form-check-input"
                type="checkbox"
                id="toggleFormSwitch" />
              <label class="form-check-label" for="toggleFormSwitch">
                姿違いを含めない
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- エクスポートモーダル -->
    <div
      class="modal fade"
      id="exportModal"
      tabindex="-1"
      aria-labelledby="exportModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exportModalLabel">エクスポート</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="閉じる"></button>
          </div>
          <div class="modal-body">
            <p>この内容をメモ帳等にコピペすることでバックアップができます。</p>
            <textarea
              id="exportTextarea"
              class="form-control"
              rows="5"
              onclick="this.select()"
              readonly></textarea>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              閉じる
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- インポートモーダル -->
    <div
      class="modal fade"
      id="importModal"
      tabindex="-1"
      aria-labelledby="importModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <form id="importForm" class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="importModalLabel">インポート</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="閉じる"></button>
          </div>
          <div class="modal-body">
            <p>
              エクスポートしたデータを以下にコピペしてください。
              <br />
              <span>※チェックした内容は上書きされます。</span>
            </p>
            <textarea
              id="importTextarea"
              class="form-control"
              rows="5"></textarea>
            <div
              id="importError"
              class="text-danger mt-2"
              style="display:none;"></div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              閉じる
            </button>
            <button type="submit" class="btn btn-success">確定</button>
          </div>
        </form>
      </div>
    </div>

    <!-- 警告モーダル -->
    <div
      class="modal fade"
      id="confirmModal"
      tabindex="-1"
      aria-labelledby="confirmModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">確認</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="閉じる"></button>
          </div>
          <div class="modal-body" id="confirmModalBody">
            <!-- メッセージ挿入 -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              キャンセル
            </button>
            <button type="button" class="btn btn-danger" id="confirmModalOkBtn">
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/lz-string@1.5.0/libs/lz-string.min.js"></script>

  {{ partial "methods/SetScssMinify" "checker/pokemon" }}
  {{ partial "methods/SetScssMinify" "checker/item-sprite" }}
  {{ partial "jsbuild" (dict "src" "js/checker/pokemon.js" "output" "pokemon.js") }}
{{ end }}
