#top-page {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    li p.link_context {
      font-size: 0.8em;
    }
  }
  .top-icon {
    display: flex;
    align-items: center;
    img {
      width: auto;
      height: 1.5rem;
      margin-right: 0.5rem;
      display: inline-block;
    }
  }

  .card-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 2rem;

    .card {
      width: calc(50% - (1rem / 2));
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
