// ナビゲーションバー height (h1～h6のscroll-marginと連動)
$navbar-height: 3.8rem;

:root {
  --type-normal-color: #a8a77a;
  --type-fire-color: #ee8130;
  --type-water-color: #6390f0;
  --type-electric-color: #f7d02c;
  --type-grass-color: #7ac74c;
  --type-ice-color: #96d9d6;
  --type-fighting-color: #c22e28;
  --type-poison-color: #a33ea1;
  --type-ground-color: #e2bf65;
  --type-flying-color: #a98ff3;
  --type-psychic-color: #f95587;
  --type-bug-color: #a6b91a;
  --type-rock-color: #b6a136;
  --type-ghost-color: #735797;
  --type-dragon-color: #6f35fc;
  --type-dark-color: #705746;
  --type-steel-color: #b7b7ce;
  --type-fairy-color: #d685ad;
}

html {
  height: 100%;
  font-size: 15px;
  body {
    height: 100%;
    padding-top: 60px;
    font-family: "Noto Sans JP", "-apple-system", "BlinkMacSystemFont",
      "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo",
      sans-serif;
  }
  select {
    option:disabled {
      color: #ccc;
    }
  }
  i {
    margin-right: 2px;
  }
  .context-sm {
    font-size: 0.8em;
    * + & {
      margin-left: 4px;
    }
  }
  p:last-child {
    margin-bottom: 0; /* 最後の<p>だけmargin消す */
  }
  @media only screen and (max-width: 768px) {
    input[type="text"],
    input[type="number"],
    textarea {
      font-size: 16px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: $navbar-height;
}

/* ヘッダー */
.navbar {
  height: $navbar-height;
  .navbar-brand {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;

    img {
      width: calc(16px * 2);
      height: calc(16px * 2);
      image-rendering: pixelated;
    }
  }
}

/* ローディング */
.loading {
  background-color: var(--bs-body-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #progress-wrap {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    #progress-worker {
      width: 100%;
    }
    #cancel-btn {
      width: fit-content;
    }
  }
}

/* Select2 ダークモード対応 */
.select2-container {
  &.select2-container--bootstrap-5
    .select2-selection--single
    .select2-selection__rendered {
    color: var(--bs-body-color);
  }
  &.select2-container--disabled .select2-selection,
  &.select2-container--disabled.select2-container--focus .select2-selection {
    background-color: var(--bs-secondary-bg);
  }
  // ドロップダウン
  .select2-dropdown {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color);

    // 検索欄
    .select2-search .select2-search__field {
      background-color: var(--bs-body-bg);
      border-color: var(--bs-border-color);
    }
    // hover
    .select2-results__options
      .select2-results__option.select2-results__option--highlighted {
      background-color: var(--bs-body-bg);
      color: var(--bs-body-color);
      filter: brightness(1.4);
    }
    // 項目
    .select2-results__options .select2-results__option {
      color: var(--bs-body-color);
    }
    // 選択済み項目
    .select2-results__options
      .select2-results__option.select2-results__option--selected,
    .select2-results__options
      .select2-results__option[aria-selected="true"]:not(
        .select2-results__option--highlighted
      ) {
      background-color: var(--bs-primary) !important;
    }
  }
}
/* Select2 フローティングデザイン統一 */
.form-floating {
  .select2-container--bootstrap-5 {
    width: auto !important;
  }
  span.select2.select2-container span.selection .select2-selection {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    border-radius: var(--bs-border-radius);
    border: var(--bs-border-width) solid var(--bs-border-color);
  }
}
.input-group > .form-floating > .select2 > .selection > .select2-selection {
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius) !important;
}
/* Select2 disabled項目 */
.select2-results__option--disabled {
  background-color: var(--bs-secondary-bg) !important;
  display: none;
}
.select2-container--bootstrap-5 {
  .select2-selection {
    border-color: var(--bs-border-color);
    background-color: var(--bs-body-bg);
  }
  .select2-selection--multiple
    .select2-selection__rendered
    .select2-selection__choice {
    border-color: var(--bs-border-color);
    color: var(--bs-body-color);
  }
}

/* YouYubeレスポンシブ対応 */
.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;

  @media only screen and (min-width: 768px) {
    max-width: 600px;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

/* ツールチップ */
label + a[data-bs-toggle="tooltip"] {
  margin-left: 0.25rem;
}
.tooltip {
  font-family: unset;
  --bs-tooltip-max-width: 24rem;
  .tooltip-inner {
    text-align: left;
    hr {
      margin: 0.25rem 0;
    }
  }
}

.bg-indigo {
  background-color: var(--bs-indigo);
}

/* ページ送り */
.turn-wrap {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

/* タイプ */
.type {
  font-size: 12px;
  min-width: 6rem;
  display: inline-block;
  text-align: center;
  padding: 2px;
  border-radius: 6px;
  font-weight: bold;
  border: #3333334c solid 3px;
  color: var(--bs-emphasis-color);

  /* ノーマル */
  &[data-type="1"] {
    background-color: var(--type-normal-color);
  }
  /* ほのお */
  &[data-type="2"] {
    background-color: var(--type-fire-color);
  }
  /* みず */
  &[data-type="3"] {
    background-color: var(--type-water-color);
  }
  /* くさ */
  &[data-type="4"] {
    background-color: var(--type-grass-color);
  }
  /* でんき */
  &[data-type="5"] {
    background-color: var(--type-electric-color);
  }
  /* こおり */
  &[data-type="6"] {
    background-color: var(--type-ice-color);
  }
  /* かくとう */
  &[data-type="7"] {
    background-color: var(--type-fighting-color);
  }
  /* どく */
  &[data-type="8"] {
    background-color: var(--type-poison-color);
  }
  /* じめん */
  &[data-type="9"] {
    background-color: var(--type-ground-color);
  }
  /* ひこう */
  &[data-type="10"] {
    background-color: var(--type-flying-color);
  }
  /* エスパー */
  &[data-type="11"] {
    background-color: var(--type-psychic-color);
  }
  /* むし */
  &[data-type="12"] {
    background-color: var(--type-bug-color);
  }
  /* いわ */
  &[data-type="13"] {
    background-color: var(--type-rock-color);
  }
  /* ゴースト */
  &[data-type="14"] {
    background-color: var(--type-ghost-color);
  }
  /* ドラゴン */
  &[data-type="15"] {
    background-color: var(--type-dragon-color);
  }
  /* あく */
  &[data-type="16"] {
    background-color: var(--type-dark-color);
  }
  /* はがね */
  &[data-type="17"] {
    background-color: var(--type-steel-color);
  }
}

/* テーブル型フローティングラベル */
.table-floating {
  display: flex;
  flex-direction: column;
  gap: 0;

  .row:first-child {
    .form-floating input.form-control,
    .choices__inner {
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .row:not(:first-child):not(:last-child) {
    .form-floating input.form-control,
    .choices__inner {
      border-bottom: 0;
      border-radius: 0;
    }
  }
  .row:last-child {
    .form-floating input.form-control,
    .choices__inner {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

/* choices.js bootstrap5 theme */
.choices {
  .choices__inner {
    background-color: var(--bs-body-bg);
    border-radius: var(--bs-border-radius);
    border-color: var(--bs-border-color);
    .choices__input {
      background-color: var(--bs-body-bg);
    }
  }
  .choices__input {
    font-size: 16px;
  }
  /* リスト部分を固定ヘッダーより手前に出ないようにする */
  .choices__list {
    z-index: 3;
  }
  /* 右幅が狭くなり過ぎないようにする */
  .choices__list--single {
    padding-right: 24px;
  }
  .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: unset;
  }
  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    background-color: var(--bs-body-bg);
  }
  &.is-open .choices__inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .choices__list--multiple .choices__item {
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-info);
    border: none;
    color: #fff;

    &.is-highlighted {
      background-color: var(--bs-info-border-subtle);
    }
  }
  &.is-focused .choices__inner,
  &.is-open .choices__inner,
  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    border-color: var(--bs-border-color);
  }
  &:has(input:focus) {
    border-radius: var(--bs-border-radius);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

    .choices__inner {
      border-color: #86b7fe;
      border-radius: var(--bs-border-radius);
    }
  }
  /* 入力欄 */
  &[data-type*="select-one"] .choices__input {
    background-color: var(--bs-body-bg);
    border-bottom-color: var(--bs-border-color);
    padding: 8px;
  }
  /* Select 下矢印 */
  &[data-type*="select-one"]::after {
    border-color: var(--bs-emphasis-color) transparent transparent;
  }
  /* Select 上矢印 */
  &[data-type*="select-one"].is-open::after {
    border-color: transparent transparent var(--bs-emphasis-color);
  }
  /* select (中) */
  &:has(.form-select) {
    .choices__inner {
      min-height: unset;
      padding: 0;
      .choices__list {
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
      }
    }
  }
  /* select (小) */
  &:has(.form-select-sm) {
    .choices__inner {
      min-height: unset;
      padding: 0;
      .choices__list {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        font-size: 0.875rem;
      }
    }
  }
}
/* choices.js 選択している項目 */
[data-bs-theme="light"] .choices {
  .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: var(--bs-body-bg);
    filter: brightness(0.9);
  }
}
[data-bs-theme="dark"] .choices {
  .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: var(--bs-body-bg);
    filter: brightness(1.4);
  }
}

/* choices.js インプットグループ */
.input-group {
  .form-floating:first-child .choices .choices__inner {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-floating:not(:first-child):not(:last-child) .choices .choices__inner {
    border-radius: 0;
  }
  .form-floating:last-child .choices .choices__inner {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* choices.js フローティングラベル */
.form-floating {
  .choices {
    margin: 0;

    .choices__inner {
      padding: 0;

      .choices__list {
        --bs-form-select-bg-img: url(
          data:image/svg + xml,
          %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"%3e%3cpathfill="none"stroke="%23343a40"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"d="m2 5 6 6 6-6"/%3e%3c/svg%3e
        );
        // padding: 1.825rem 2.25rem 0.625rem 0.75rem;
        padding: 1.625rem 2.25rem 0.625rem 0.75rem;
        display: block;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        // height: calc(3.5rem + calc(var(--bs-border-width) * 2));
        min-height: 3.5rem;
        line-height: 1.25;
        background-color: transparent;
        background-image: var(--bs-form-select-bg-img),
          var(--bs-form-select-bg-icon, none);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
      }
    }
    /* disabled */
    &.is-disabled {
      background-color: var(--bs-secondary-bg);
      .choices__inner,
      .choices__input {
        background-color: unset;
      }
    }
  }
  /* ラベル部分 */
  .choices + .form-control-plaintext ~ label,
  .choices + .form-control:focus ~ label,
  .choices + .form-control:not(:placeholder-shown) ~ label,
  .choices ~ label {
    color: rgba(var(--bs-body-color-rgb), 0.65);
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
}
