#damage-calc {
  padding-bottom: 2rem !important;

  details {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    padding-left: 37.5px;
    color: var(--bs-text-secondary);
  }

  .choices__item--choice[data-no-support="true"] {
    background-color: var(--bs-danger-bg-subtle);
  }

  // 非対応技の背景を暗くする
  .choices .choices__item[data-group="非対応"] {
    background-color: var(--bs-tertiary-color);
    &.is-highlighted {
      background-color: var(--bs-secondary-color);
    }
  }

  #damage-result {
    cursor: pointer;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bs-tertiary-bg);
    color: var(--bs-body-color);
    z-index: 10;
    padding: 0.5rem;

    #damage-avg {
      font-size: 0.8rem;
    }
    #damage-result-badge {
      display: flex;
      flex-wrap: wrap;
      gap: 0.15rem;
    }
  }

  #modal-damage {
    .monster-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      .monster {
        width: 45%;
        border: solid 1px;
        padding: 0.75rem;
        border-radius: 0.5rem;
        &:first-child {
          border-color: var(--bs-danger);
          background-color: var(--bs-danger-bg-subtle);
        }
        &:last-child {
          border-color: var(--bs-primary);
          background-color: var(--bs-primary-bg-subtle);
        }
      }
    }
  }

  #top-btn {
    font-size: 26px;
    background-color: var(--bs-success);
    color: #fff;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    bottom: 5.5rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }
}
