{{ define "main" }}
  <link href="/css/index.css" rel="stylesheet" type="text/css" />
  <script src="/js/json_script.js"></script>

  <div class="top-contents container-md py-3" id="top-page">
    <h2>☕Lai-brary</h2>
    <p class="mb-4">ライねるの隠れ家です。</p>

    <h3 class="mb-3 d-inline-flex align-items-center gap-2">
      <img src="/img/icon_title_sky.png" />
      <span>ポケダン時闇空</span>
    </h3>
    <h5 class="top-icon text-light-emphasis">
      <img src="/img/item/item_12_1.png" />
      データベース・計算機
    </h5>
    <div class="card-flex">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bold">
            {{ $link := ref . "/damage/calc.md" }}
            <a href="{{ $link }}" class="stretched-link">ダメージ計算機</a>
          </h5>
          <p>ポケモンが与えるダメージを計算します。</p>
        </div>
      </div>
    </div>

    <h5 class="top-icon text-light-emphasis">
      <img src="/img/rank/rank_12.png" />
      捏造パス関連
    </h5>
    <div class="card-flex">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bold">
            {{ with ref . "/wondermail/wondermail.html" }}
              <a href="{{ . }}" class="stretched-link">ふしぎなメール生成機</a>
            {{ end }}
          </h5>
          <p>
            あらゆる組み合わせのふしぎなメール(捏造パス)を作ります。
            <br />
            レア道具が貰える依頼を作ったり、難しい依頼を作ったり。
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bold">
            {{ with ref . "/wondermail/anydungeon.html" }}
              <a href="{{ . }}" class="stretched-link">ダンジョン強制解禁</a>
            {{ end }}
          </h5>
          <p>
            任意のダンジョンを捏造パスで強制解禁します。
            <br />
            通常では行けないダンジョンも解禁できます。バグ技につき取扱注意。
            <br />
            <span class="text-danger">※空の探検隊限定</span>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bold">
            {{ with ref . "/wondermail/anyegg.html" }}
              <a href="{{ . }}" class="stretched-link">任意タマゴ孵化</a>
            {{ end }}
          </h5>
          <p>
            任意のポケモンを捏造パスで入手します。
            <br />
            通常のポケモン、進化後、伝説、未使用ポケモンまでほぼすべて入手可能。
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bold">
            {{ with ref . "/rescue/duplicate.html" }}
              <a href="{{ . }}" class="stretched-link">救助依頼複製</a>
            {{ end }}
          </h5>
          <p>救助依頼の複製をするツール。役に立つ救助保存の複製にどうぞ。</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-bold">
            {{ with ref . "/rescue/duplicate.html" }}
              <a href="{{ . }}" class="stretched-link">自演救助</a>
            {{ end }}
          </h5>
          <p>
            倒されてしまった時の救助を自演で行います。ついでに道具も貰えます。
          </p>
        </div>
      </div>
    </div>

    <h3 class="top-icon">
      <img src="/img/item/item_10_0.png" />
      <span>Link</span>
    </h3>
    <div class="d-flex flex-column gap-3">
      <ul>
        <li>
          <a
            href="https://twitter.com/Laioxy"
            target="_blank"
            rel="noopener noreferrer">
            Twitter
          </a>
          <p>ライねるの自我。</p>
        </li>
        <li>
          <a
            href="https://youtube.com/@Laioxy"
            target="_blank"
            rel="noopener noreferrer">
            YouTube
          </a>
          <p>動画。1ヶ月に1本以下のペースで上げる。見て！</p>
        </li>
        <li>
          <a
            href="https://twitch.tv/Laioxy"
            target="_blank"
            rel="noopener noreferrer">
            Twitch
          </a>
          <p>配信。不定期に気分で何かやる。</p>
        </li>
        <li>
          <a
            href="https://github.com/Laioxy"
            target="_blank"
            rel="noopener noreferrer">
            GitHub
          </a>
          <p>開発関連。主にここの更新。</p>
        </li>
        <li>
          <a
            href="https://lainel.hatenablog.com/"
            target="_blank"
            rel="noopener noreferrer">
            白銀のライねる (はてなブログ)
          </a>
          <p>解析メモ代わりのブログ。ほぼ使ってない。</p>
        </li>
        <li>
          <a
            href="https://stat.ink/@laioxy"
            target="_blank"
            rel="noopener noreferrer">
            stat.ink
          </a>
          <p>
            スプラトゥーン3の戦績。多分誰も興味ない。
            <br />
            ※s3sが実質更新停止の為、こちらも更新停止
          </p>
        </li>
      </ul>

      <div class="row">
        <div class="col">
          <div class="alert alert-primary">
            ポケットモンスター(ポケモン・Pokémon)の著作権及び商標は、任天堂および関連企業に帰属します。
            <br />
            当サイトは個人で作成した非公式ファンサイトであり、任天堂株式会社や株式会社スパイク・チュンソフト、およびその他の企業とは一切関係ありません。
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
