{{ define "main" }}
  {{ partial "methods/SetScssMinify.html" "index" }}
  <script src="/js/json_script.js"></script>

  <div class="top-contents container-md pb-4" id="top-page">
    <h2 class="display-3">Lai-brary</h2>
    <p class="mb-4">{{ T "toppage.hDescription" }}</p>

    <!-- 日本語以外の場合、未翻訳の注意書きを表示 -->
    {{ if ne .Lang "ja" }}
      <div class="alert alert-primary" role="alert">
        <p>
          Only pages that have been translated are available here. To browse all
          pages, please use the
          {{ with (index (where .AllTranslations "Lang" "ja") 0) }}
            <a href="{{ .RelPermalink }}" class="alert-link">
              Japanese version
            </a>
          {{ end }}
          of the site.
        </p>
        <p class="small-text">
          Also, Laioxy is not fluent in English, so most of the translations on
          this site were done using AI. As a result, some translations may be
          inaccurate...
        </p>
      </div>
    {{ end }}


    <h3 class="mb-3 d-inline-flex align-items-center gap-2">
      <img src="/img/icon_title_sky.png" />
      <span>{{ T "toppage.hPmd" }}</span>
    </h3>

    <h5 class="top-icon">
      <img src="/img/item/item_12_1.png" />
      {{ T "toppage.hPmdDungeonTool" }}
    </h5>

    <div class="row g-2 mb-3">
      {{ partial "parts/linkBlock" "/damage/calc" }}
      {{ partial "parts/linkBlock" "/damage/hiddenpower" }}
      {{ partial "parts/linkBlock" "/checker/pokemon" }}

      {{/* 英語ページは一時的に何も出さない */}}
      {{ if ne .Lang "ja" }}
        <p>Not translated</p>
      {{ end }}
    </div>

    <h5 class="top-icon">
      <img src="/img/rank/rank_12.png" />
      {{ T "toppage.hPmdPasswordRelated" }}
    </h5>
    <div class="row g-2 mb-3">
      <!-- ふしぎなメール関連 -->
      {{ partial "parts/sectionBlock" "/wondermail" }}


      <!-- 救助依頼関連 -->
      {{ partial "parts/sectionBlock" "/rescue" }}
    </div>

    <h3 class="top-icon">
      <img src="/img/item/item_10_0.png" />
      <span>Link</span>
    </h3>
    <div class="d-flex flex-column gap-3">
      <ul>
        <li>
          <a
            href="https://twitter.com/Laioxy"
            target="_blank"
            rel="noopener noreferrer">
            Twitter
          </a>
          <p>{{ T "toppage.dLinkTwitter" }}</p>
        </li>
        <li>
          <a
            href="https://www.youtube.com/@%E3%83%A9%E3%82%A4%E3%81%AD%E3%82%8B"
            target="_blank"
            rel="noopener noreferrer">
            YouTube
          </a>
          <p>{{ T "toppage.dLinkYouTube" }}</p>
        </li>
        <li>
          <a
            href="https://twitch.tv/Laioxy"
            target="_blank"
            rel="noopener noreferrer">
            Twitch
          </a>
          <p>{{ T "toppage.dLinkTwitch" }}</p>
        </li>
        <li>
          <a
            href="https://github.com/Laioxy"
            target="_blank"
            rel="noopener noreferrer">
            GitHub
          </a>
          <p>{{ T "toppage.dLinkGitHub" }}</p>
        </li>
        <li>
          <a
            href="https://lainel.hatenablog.com/"
            target="_blank"
            rel="noopener noreferrer">
            白銀のライねる ({{ T "toppage.hatenaBlog" }})
          </a>
          <p>{{ T "toppage.dLinkHatena" }}</p>
        </li>
        <li>
          <a
            href="https://stat.ink/@laioxy"
            target="_blank"
            rel="noopener noreferrer">
            stat.ink
          </a>
          <p>
            {{ T "toppage.dLinkStatInk" }}
          </p>
        </li>
      </ul>
    </div>
  </div>
{{ end }}
